node_modules

# Output
.eslintcache
.output
.vercel
/.svelte-kit
# /build - keep build directory for Go embed
/test-results

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
